.nav {
    display: flex;
    justify-content: right;
    overflow: hidden;
}

.nav__pets__dropdown__content,  .nav__profile__dropdown__content{
    display: none;
    float: left;
    position: absolute;
}

.nav__profile__dropdown:hover .nav__profile__dropdown__content {
    display: block;
}
.nav__pets__dropdown:hover .nav__pets__dropdown__content {
    display: block;
}

.nav__dropdown {
    margin: 0 3em;
}

.nav__dropdown__content {
    list-style-type: none;
    margin: 0;
    padding: 0;
}